@font-face {
    font-family: RubikSemiBold;
    src: url(fonts/Rubik-SemiBold.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: InterRegular;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: InterMedium;
    src: url(fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: QuicksandBold;
    src: url(fonts/Quicksand-Bold.ttf);
}

html{
    scroll-behavior: smooth;
 }
 
 *{
     box-sizing: border-box;
 }

body{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #ECF9FF;
    padding-top: 95px;
    z-index: -10;
}

.topnav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ECF9FF;
    height: 95px;
    width: 100%;
/*     padding-left: 20px;
    padding-right: 20px; */
    z-index: 100;
}

.topnav .icon {
    display: none;
}

.topnav:first-child {
    padding-left: 4%;
}

.topnav-child{
/*     justify-content: center; */

    display: flex;
    align-items: center;
    float: left;

    height: 100%;
}

#itens-menu{
/*     background-color: pink; */
    width: 70%;
}

#buttons-menu{
/*     background-color: aqua; */
    width: 30%;
    padding-right: 3%;
}

.topnav-child a{
    margin-right: 6%;
}


#buttons-menu a:first-child{
    margin-right: 10px;
    margin-left: auto;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

#itens-menu a{
    font-family: RubikSemiBold;
    font-size: 18px;
    color: #373536;
}

.btn-claro{
    color: #01BAFF;
    font-family: InterBold;
    font-size: 18px;
    background-color: #ECF9FF;
    border: 1px solid #01BAFF;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    justify-content: center;
}

.btn-escuro{
    color: #ECF9FF;
    font-family: InterBold;
    font-size: 18px;
    background-color: #01BAFF;
    border: 1px solid #ECF9FF;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    justify-content: center;
}

.img-btn {
    margin-right: 5%;
}

.img-btn, .span-btn{
    display: inline-table; 
    vertical-align: middle; 
    text-align: center;
}

#btn-login-cab{
/*     padding-top: 14px; */
    height: 53px;
    width: 119px;
}

#btn-cadastro-cab{
/*     padding-top: 14px; */
    height: 53px;
    width: 225px;
}

.btn-home{
/*     padding-top: 14px; */
    height: 53px;
    width: 225px;
}

section{
    background-color: white;
    height: 1000px;
    width: 100%;
    z-index: -5;
/*     border: 2px solid black; */
}

#home{
/*     background-color: #ECF9FF; */
    background: linear-gradient(#ECF9FF, #ECF9FF, #ECF9FF, white);
    height: 850px;/* 866 altura do cabeçalho da segunda section até menu nav */
    width: 100%;
    position: relative;
/*     z-index: 1; */
}

#home-div {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

#fundo-home{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#home-div-child {
/*     padding-top: 156px; */
    padding-left: 114px;
    width: 60%;
    height: 100%;
/*     vertical-align: middle;
    align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
/*     align-items: center; */
    z-index: 1;
}

#div-imagem-apresentacao{
    padding-right: 5%;
/*     padding-top: 44px; */
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

#imagem-apresentacao{
    float: right;
    vertical-align: middle;
    align-items: center;
    z-index: 1;
}

#home-div-child > * {
    display: block;
    margin-bottom: 30px;
/*     margin-left: 14%; */
    z-index: 1;
}

#home-div h4 {
    margin-bottom: 10px;
}

h1{
    margin: 0px;
    color: #373536;
    font-family: QuicksandBold;
    font-size: 60px;
    line-height: 53px;
    z-index: 1;
}

h2{
    margin: 0px;
    color: #373536;
    font-family: QuicksandBold;
    font-size: 43.9px;
    z-index: 1;
}

h4{
    margin: 0px;
    color: #373536;
    font-family: InterMedium;
    font-style: normal;
    font-size: 16px;
    z-index: 1;
}

p{
    margin: 0px;
    color: #373536;
    font-family: InterRegular;
    font-size: 18px;
    z-index: 1;
}

.btn{
    z-index: 1;
}

.side-by-side{
    display: inline-flex;
    z-index: 1;
}

section#home div#home-div div.side-by-side a:first-child{
    margin-right: 29px;
}

/* .fundo{
    height: 100%;
    width: 100%;
    position: absolute;
} */

#fundo-home img{
    position: absolute;
}

#circulado{
    top: 328px;
    left: 179px;
}

#sublinhado-home{
    top: 316px;
    left: 114px;
}

#decoracao-home-1{
    top: 165px;
    left: 7%;
}

#decoracao-home-2{
    top: 645px;
    left: 7%;
}

#decoracao-home-3{
    top: 105px;
    left: 50%;
}

#decoracao-home-4{
    top: 615px;
    left: 48%;
}

#decoracao-home-5{
    top: 555px;
    left: 53%;
}

#decoracao-home-6{
    top: 135px;
    left: 92%;
}

#decoracao-home-7{
    top: 185px;
    left: 93%;
}

#decoracao-home-8{
    top: 525px;
    left: 94%;
}

#decoracao-home-9{
    top: 605px;
    left: 92%;
}



/* @media only screen and (max-width: 1000px) {
    #itens-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        justify-content: left;
    }
    #buttons-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        justify-content: right;
    }
    #itens-menu a:first-child{
        float: left;
        display: block;
    }

    h1{
        font-size: 35px;
    }
    
    h2{
        font-size: 26px;
    }
    
    h4{
        font-size: 12px;
    }
    
    p{
        font-size: 12px;
    }

    .btn-claro{
        font-size: 16px;
    }
    
    .btn-escuro{
        font-size: 16px;
    }

    .btn{
        height: 44px;
        width: 162px;
    }

    section#home div#home-div div.side-by-side a:first-child{
        margin-right: 16px;
    }
} */

@media screen and (max-width: 1270px) {
    /* 320 - 480 - 760 - 960 - 1200 - 1600*/
/*     .topnav-child a{
        margin-right: 3%;
    } */

    h1{
        font-size: 35px;
        line-height: 35px;
    }
    
    h2{
        font-size: 26px;
    }
    
    h4{
        font-size: 12px;
    }
    
    p{
        font-size: 12px;
    }

    .btn-claro{
        font-size: 16px;
    }
    
    .btn-escuro{
        font-size: 16px;
    }

    .btn{
        /*     padding-top: 14px; */
        height: 44px;
        width: 162px;
    }

    #btn-login-cab{
    /*     padding-top: 14px; */
        height: 44px;
        width: 86px;
    }
            
    #btn-cadastro-cab{
    /*     padding-top: 14px; */
        height: 44px;
        width: 162px;
    }

    section#home div#home-div div.side-by-side a:first-child{
        margin-right: 16px;
    }

    #home{
            height: 427px;/* 866 altura do cabeçalho da segunda section até menu nav */
    }

    body{
        padding-top: 64px;
    }
    
    .topnav{
        height: 64px;
    }

    #itens-menu a{
        font-size: 14px;
    }

    #home-div-child > * {
        margin-bottom: 20px;
    }

    #circulado{
        top: 150px;
        left: 104px;
    }
    
    #sublinhado-home{
        top: 140px;
        left: 50px;
    }

    #home-div-child {
        padding-left: 50px;
    }

    #decoracao-home-1{
        top: 36px;
        left: 3%;
    }
    
    #decoracao-home-2{
        top: 346px;
        left: 3%;
    }
    
    #decoracao-home-3{
        top: 26px;
        left: 50%;
    }
    
    #decoracao-home-4{
        top: 318px;
        left: 48%;
    }
    
    #decoracao-home-5{
        top: 258px;
        left: 53%;
    }
    
    #decoracao-home-6{
        top: 31px;
        left: 93%;
    }
    
    #decoracao-home-7{
        top: 76px;
        left: 93%;
    }
    
    #decoracao-home-8{
        top: 228px;
        left: 94%;
    }
    
    #decoracao-home-9{
        top: 308px;
        left: 92%;
    }
}


@media screen and (max-width: 1000px) {
    #itens-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        justify-content: left;
    }
    #buttons-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        justify-content: right;
    }
    #itens-menu a:first-child{
        float: left;
        display: block;
    }

    /* 320 - 760 - 960 */
    #itens-menu a:not(:first-child) {
        display: none;
    }
    #buttons-menu a{
        display: none;
    }
    #buttons-menu a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
                /*float: left;*/
        /*position: absolute;*/
        left: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


@media screen and (max-width: 760px) {
    /* 320 - 480 - 760 - 960 - 1200 - 1600*/
    #imagem-apresentacao{
        display: none;
    }

    #home-div-child {
        padding-left: 3%;
        width: 100%;
    }
    
    #div-imagem-apresentacao{
        width: 0%;
    }

    .topnav-child a{
        margin-right: 3%;
    }

    #circulado{
        top: 150px;
        left: 80px;
    }
    
    #sublinhado-home{
        top: 139px;
        left: 25px;
    }

    #home-div-child {
        padding-left: 15px;
    }

    #decoracao-home-1{
        top: 36px;
        left: 3%;
    }
    
    #decoracao-home-2{
        top: 346px;
        left: 3%;
    }
    
    #decoracao-home-3{
        top: 26px;
        left: 90%;
    }
    
    #decoracao-home-4{
        top: 318px;
        left: 90%;
    }
    
    #decoracao-home-5{
        top: 196px;
        left: 1%;
    }
    
    #decoracao-home-6{
        top: 136px;
        left: 93%;
    }
    
    #decoracao-home-7{
        display: none;
    }
    
    #decoracao-home-8{
        display: none;
    }
    
    #decoracao-home-9{
        display: none;
    }
}
