@font-face {
    font-family: RubikSemiBold;
    src: url(fonts/Rubik-SemiBold.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: InterBold;
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: InterRegular;
    src: url(fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: InterMedium;
    src: url(fonts/Inter-Medium.ttf);
}

@font-face {
    font-family: QuicksandBold;
    src: url(fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(fonts/Quicksand-Regular.ttf);
}

html{
    scroll-behavior: smooth;
 }
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    border: 0px;
    background-color: #ECF9FF;
/*     padding-top: 95px; */
/*     z-index: -10; */
    overflow-x: hidden;
}

header{
    height: 95px;
/*     background-color: #ECF9FF; */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background: #ECF9FF;
    height: 95px;
    width: 100%;
    display: flex;/*coloca itens lado a lado*/
    align-items: center;/*centraliza verticalmente*/
    padding-left: 4%;
    padding-right: 4%;
    z-index: 100;
}

.logo{
    width: 204px;/*largura da logo 204px*/
    height: 46px;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end; /*conteudo centralizado horizontalmente na direita*/
    
}

ul,
li {
    list-style: none;
}

.menu ul {
    display: flex; /*um item ao lado do outro*/
    align-items: center;
}

.menu li:not(:nth-last-child(-n+3)) {
    padding-left: 1.57vw;
    padding-right: 1.57vw;
}

.menu li:not(:nth-last-child(-n+2)) a{
    font-family: RubikSemiBold;
    font-size: 18px;
    color: #373536;
}

.menu li:nth-last-child(3) {
    padding-left: 1.57vw;
    padding-right: calc((100vw - 8vw - 204px - 9 * 1.57vw - 51px - 94px - 60px - 71px - 56px - 20px - 119px - 225px ) * (8 / 10));
}

/* - 9 * 1.57vw - 51px - 94px - 60px - 71px - 56px - 20px - 86px - 162px */

.li-btn{
    padding-left: 5px;
    padding-right: 5px;
}


.header #icon {
    display: none;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.btn-claro{
    color: #01BAFF;
    font-family: InterBold;
    font-size: 18px;
    background-color: #ECF9FF;
    border: 1px solid #01BAFF;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    justify-content: center;
}

.btn-escuro{
    color: #ECF9FF;
    font-family: InterBold;
    font-size: 18px;
    background-color: #01BAFF;
    border: 1px solid #ECF9FF;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    justify-content: center;
}

.img-btn {
    margin-right: 5%;
}

.img-btn, .span-btn{
    display: inline-table; 
    vertical-align: middle; 
    text-align: center;
}

#btn-login-cab{
    height: 53px;
    width: 119px;
}

#btn-cadastro-cab{
    height: 53px;
    width: 225px;
}

.btn-home{
    height: 53px;
    width: 225px;
}

section{
    background-color: #FFFFFF;
    height: 1000px;
    width: 100%;
}

#home{
    background: linear-gradient(#ECF9FF, #ECF9FF, #ECF9FF, #FFFFFF);
    height: 850px;/* 866 altura do cabeçalho da segunda section até menu nav */
    width: 100%;
    position: relative;
}

#home-div-parent{
    width: 100%;
    height: 100%;
}

#home-div {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

#fundo-home{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#home-div-child {
    padding-left: 114px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-imagem-apresentacao{
    padding-right: 5%;
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

#imagem-apresentacao{
    float: right;
    vertical-align: middle;
    align-items: center;
    z-index: 1;
}

#home-div-child > * {
    display: block;
    margin-bottom: 30px;
    z-index: 1;
}

#home-div h4 {
    margin-bottom: 10px;
}

h1{
    margin: 0px;
    color: #373536;
    font-family: QuicksandBold;
    font-size: 60px;
    line-height: 53px;
}

h2{
    margin: 0px;
    color: #373536;
    font-family: QuicksandBold;
    font-size: 43.9px;
}

h3{
    margin: 0px;
    color: #5E5E5E;
    font-family: InterBold;
    font-size: 18px;
}

h4{
    margin: 0px;
    color: #373536;
    font-family: InterMedium;
    font-style: normal;
    font-size: 16px;
}

p{
    margin: 0px;
    color: #373536;
    font-family: Rubik;
    font-size: 18px;
    line-height: normal;
}

#home p{
    margin: 0px;
    font-family: InterRegular;
    color: var(--Gray, #373536);
    font-size: 18px;
    line-height: 26.284px; /* 26.284px */
    margin-bottom: 30px;
}

.btn{
    z-index: 1;
}

.side-by-side{
    display: inline-flex;
/*     z-index: 1; */
}

section#home div#home-div div.side-by-side a:first-child{
    margin-right: 29px;
}

/* .fundo{
    height: 100%;
    width: 100%;
    position: absolute;
} */

#fundo-home img{
    position: absolute;
}

#circulado{
    top: 328px;
    left: 179px;
}

#sublinhado-home{
    top: 316px;
    left: 114px;
}

#decoracao-home-1{
    top: 165px;
    left: 7%;
}

#decoracao-home-2{
    top: 645px;
    left: 7%;
}

#decoracao-home-3{
    top: 105px;
    left: 50%;
}

#decoracao-home-4{
    top: 615px;
    left: 48%;
}

#decoracao-home-5{
    top: 555px;
    left: 53%;
}

#decoracao-home-6{
    top: 135px;
    left: 92%;
}

#decoracao-home-7{
    top: 185px;
    left: 93%;
}

#decoracao-home-8{
    top: 525px;
    left: 94%;
}

#decoracao-home-9{
    top: 605px;
    left: 92%;
}

#como_usar{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 770px;
}

.container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
/*     overflow: hidden; */
}

.titulo{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
/*     padding: 13px 86px 13px 86px; */
}

.titulo > *{
    justify-content: center;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.titulo p{
    font-size: 16px;
    line-height: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.conteudo{
    flex: 1;
    width: 100%;
/*     background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
}

#tela{
    position: absolute;
    height: 590px;
    display: flex;
/*     flex-direction: column; */
    align-items: center;
/*     width: 100%; */
}

#div_topicos_como_usar{
    width: 100%;
    height: 317px;

    position: absolute;
    top: 120px;

/*     background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*     vertical-align: middle; */
}

.sistema_topicos{
    position: absolute;
    left: 0px;
    height: 120px;
    width: 100%;
    display: none;
}

#como_usar .sistema_topicos{
    top: 370px;
}

#como_usar .botao_passa_topico{
/*     background-color: pink; */
    width: 8%;
    height: 100%;
}    

#como_usar .div_vizualizacao_topicos{
/*     background-color: blue; */
    width: 84%;
    height: 100%;
}

#div_topicos_como_usar ul{
    height: 100%;
}

#div_topicos_como_usar > *{
    padding: 0;
    margin: 0;
}

.div_topico{
    height: 126px;
    width: 210px;/*192*/
/*     background-color: red; */
    display: inline-block;
    vertical-align: middle;
}

.topico{
    font-family: QuicksandBold;
    font-size: 18px;
}

.div_topico > * {
    padding: 7px;
}

#como_usar .texto_topicos{
    font-size: 14px;
    line-height: normal;
}

#recursos .texto_topicos{
    font-size: 16px;
    line-height: normal;
}

#recursos .icones_topico{
    height: 65px;
    width: 65px;
}

.esq {
    text-align: right;
    margin-right: 800px;
/*     margin-right:10px; */
    /*425px    calc( 80vw - 440px );*/
}

.cima{
    margin-bottom: 65px;
}

#recursos{
    background-color: #ECF9FF;
    height: 1138px;
}

.quebra_tela_grande{
    display: static;
}

.quebra_tela_pequena{
    display: none;
}

#recursos .titulo >* {
    padding-top: 82px;
    padding-bottom: 82px;
}

#recursos .conteudo {
/*     background: #01BAFF;
/*     flex: 1; */
}

#recursos .div_topico{
    background: #FFFFFF;
    width: 370px;
    height: 234px;
    padding: 24px;
    margin: 22.5px;/*22.5px*/
    border-radius: 6px;
}

#recursos .div_topico >* {
}

.topicos_recursos{
    display: flex;
/*     flex-direction: row; */
    align-items: center;
    justify-content: center;
}

.topicos_recursos ul{
    width: 1260px;
}

#section_numeros{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 508px;
/*     overflow: hidden; */
}

#section_numeros .titulo{
    width: 959px;
    top: -150px;
    position: relative;
    border-radius: 6px;
    background: #FFFFFF;
    padding-top: 44px;
}

#section_numeros .conteudo{
/*     height: 202px; */
    top: -66px; 
    position: relative;
/*     overflow: hidden; */
}

#section_numeros .botao_passa_topico{
/*     background-color: pink; */
    width: 26%;
    height: 100%;
}    
    
#section_numeros .div_vizualizacao_topicos{
/*     background-color: blue; */
    width: 48%;
    height: 100%;
}

#numeros{
    display: flex;
/*     overflow: hidden; */
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 71.5px;
    margin-right: 71.5px;
    width: 270px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1.3px solid var(--Principal-Blue, #01BAFF);
}

.card >*{
/*     margin-left: 71.5px;
    margin-right: 71.5px; */
    padding: 6px;
}

.card p{
    color: var(--Gray, #373536);
    text-align: center;
    /* Mono H3 */
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#avaliacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1520px;
/*     overflow: hidden; */
}

#avaliacoes .titulo >*{
    padding-top: 25px;
    padding-bottom: 25px;
}

#avaliacoes .conteudo >*{
    margin-top: 25px;
    margin-bottom: 25px;
}

div.text_field_cadastrar {
    display: flex;
    align-items: center;
}

.text_field_cadastrar{
    width: 606px;
    height: 63px;
    border-radius: 6px;
    border: 1px solid var(--Principal-Blue, #01BAFF);
    background: var(--Light-Blue, #ECF9FF);
}

.text_field_cadastrar form{
    display: flex;
    align-items: center;
}

.input_cadastrar{
    width: 372px;
    height: 60px;
    border: 0px;
    background: none;

    font-family: Quicksand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 37px;
    
/*     background: var(--Light-Blue, #ECF9FF); */
}

input:focus{
    outline: none;
}

input.input_cadastrar::placeholder{
    color: rgba(94,94,94,0.5) !important;
}

#planos{
    display: block;
    flex-direction: column;
    align-items: center;
    height: 502px;
    background-color: #ECF9FF;
}

#planos .titulo{
    position: relative;
    top: -510px;
}

#planos .conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -473px;/*-510px + 37px = 473px*/
    height: 690px;
}

#planos .cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#planos .cards >*{
    margin-left: 44px;
    margin-right: 44px;
}

#duvidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1285px;
    background-color: #ECF9FF;
}

.card_plano{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.card1{
    padding-top: 20px;
    padding-left: 36px;
    padding-right: 36px;
}

.card2{
    padding-top: 30px;
    padding-left: 39px;
    padding-right: 39px;
}

.card_plano ul{
    width: 100%;
}

.card_plano li p{
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 318%; /* 50.88px */
}

.card_plano li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card_plano .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.card_plano .btn span{
    color: #FFF;
    font-family: InterBold;
    font-size: 24px;
    font-style: normal;
/*     font-weight: 700; */
    line-height: normal;
    
}

.card1>*{
    padding-top: 15px;
    padding-bottom: 15px;
}

.card2>*{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card2 .btn span{
    color: #FFF;
}

.card1 .btn span{
    color: var(--Principal-Blue, #01BAFF);
}

.card_plano .btn_plano_basico{
    width: 265.229px;
    height: 68.925px;
    border: 1px solid var(--Principal-Blue, #01BAFF);
}

.card_plano .btn_plano_super{
    width: 304px;
    height: 79px;
    border: 1px solid var(--Light-Blue, #ECF9FF);
}

.card_plano li picture{
    padding-right: 13px;
}

.card_plano li picture{
    height: 14px;
    align-items: center;
    justify-content: center;
}

.card_plano .imagem_plano{
    padding-bottom: 10px;
}

.card1{
    width: 344.623px;
    height: 602px;
    border: 0.5px solid rgba(1, 186, 255, 0.50);
    background: #FFF;
}

.card2 p,
.card2 h2{
    color: var(--Light-Blue, #ECF9FF);
}

.card2 h2{
    padding-top: 0px;
    font-size: 48px;
}

.card1 h2{
    padding-top: 0px;
}

.ou{
    height: 210px;
}

.ou h2{
    color: var(--Principal-Blue, #01BAFF);
    text-align: center;
    /* Handwrite H5 */
    font-family: QuicksandBold;
    font-size: 43.9px;
    font-style: normal;
/*     font-weight: 700; */
    line-height: normal;
}

.molde_card_plano{
    width: 395px;
    height: 690px;
    position: relative;
}

.card2{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5px solid rgba(1, 186, 255, 0.50);
    background: var(--Gradiente, linear-gradient(127deg, #2982C0 9.53%, #01BAFF 101.2%));
}

.melhor_escolha{
    position: absolute;
    width: 100%;
    height: 30%;
/*     background-color: #01BAFF; */
    z-index: 100;
    position: relative;
}

.melhor_escolha picture{
    position: absolute;
    top: 0px;
    right: 0px;
}

.melhor_escolha .diagonal{
    transform: rotate(45.146deg);
    position: absolute;
    top: 28px;
    right: 0px;
    color: var(--Gray, #373536);
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card1 li p{
    color: var(--Gray, #373536);
}


/* .nivel {
    background-color: yellow;
} */



/* @media only screen and (max-width: 1000px) {
    #itens-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        justify-content: left;
    }
    #buttons-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        justify-content: right;
    }
    #itens-menu a:first-child{
        float: left;
        display: block;
    }

    h1{
        font-size: 35px;
    }
    
    h2{
        font-size: 26px;
    }
    
    h4{
        font-size: 12px;
    }
    
    p{
        font-size: 12px;
    }

    .btn-claro{
        font-size: 16px;
    }
    
    .btn-escuro{
        font-size: 16px;
    }

    .btn{
        height: 44px;
        width: 162px;
    }

    section#home div#home-div div.side-by-side a:first-child{
        margin-right: 16px;
    }
} */

@media screen and (min-width: 1900px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/*     body section{
        width: 1900px;
    } */

    #home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home-div-parent{
        width: 1900px;
    /*     position: relative; */
    }

    #home-div{
        width: 1900px;
/*         background-color: red; */
    }

    #fundo-home{
        width: 1900px;
/*         background-color: yellow; */
    }

}

@media screen and (max-width: 1270px) {
    /* 320 - 480 - 760 - 960 - 1200 - 1600*/
/*     .topnav-child a{
        margin-right: 3%;
    } */

    h1{
        font-size: 35px;
        line-height: 35px;
    }
    
    h2{
        font-size: 23px;
    }

    h3{
        font-size: 16px;
    }
    
    h4{
        font-size: 12px;
    }
    
    p{
        font-size: 12px;
        line-height: normal;
    }

    #home p{
        font-size: 12px;
        line-height: 17.523px; /* 26.284px */
        margin-bottom: 20px;
    }

    #como_usar .texto_topicos{
        font-size: 11.5px;
        line-height: normal;
    }
    
    #recursos .texto_topicos{
        font-size: 12px;
        line-height: normal;
    }

    #recursos .icones_topico{
        height: 33px;
        width: 33px;
    }

    .btn-claro{
        font-size: 16px;
    }
    
    .btn-escuro{
        font-size: 16px;
    }

    .btn{
        /*     padding-top: 14px; */
        height: 44px;
        width: 162px;
    }

    #btn-login-cab{
    /*     padding-top: 14px; */
        height: 44px;
        width: 86px;
    }
            
    #btn-cadastro-cab{
    /*     padding-top: 14px; */
        height: 44px;
        width: 162px;
    }

    section#home div#home-div div.side-by-side a:first-child{
        margin-right: 16px;
    }

    #home{
            height: 427px;/* 866 altura do cabeçalho da segunda section até menu nav */
    }

    body{
 /*        padding-top: 64px; */
    }
    
    .header{
        height: 64px;
    }

    header{
        height: 64px;
    }

    .menu li:not(:nth-last-child(-n+2)) {
        font-size: 14px;
    }

    .menu li:not(:nth-last-child(-n+2)) a{
        font-size: 14px;
    }
    
    .menu li:nth-last-child(3) {
        padding-right: calc((100vw - 8vw - 204px - 9 * 1.57vw - 40px - 73px - 46px - 55px - 44px - 20px - 86px - 162px ) * (8 / 10));
    }

    #home-div-child > * {
        margin-bottom: 20px;
    }

    #circulado{
        top: 150px;
        left: 104px;
    }
    
    #sublinhado-home{
        top: 140px;
        left: 50px;
    }

    #home-div-child {
        padding-left: 50px;
    }

    #decoracao-home-1{
        top: 36px;
        left: 3%;
    }
    
    #decoracao-home-2{
        top: 346px;
        left: 3%;
    }
    
    #decoracao-home-3{
        top: 26px;
        left: 50%;
    }
    
    #decoracao-home-4{
        top: 318px;
        left: 48%;
    }
    
    #decoracao-home-5{
        top: 258px;
        left: 53%;
    }
    
    #decoracao-home-6{
        top: 31px;
        left: 93%;
    }
    
    #decoracao-home-7{
        top: 76px;
        left: 93%;
    }
    
    #decoracao-home-8{
        top: 228px;
        left: 94%;
    }
    
    #decoracao-home-9{
        top: 308px;
        left: 92%;
    }

    .div_topico{
        height: 90px;
        width: 165px;/*158*/
    /*     background-color: red; */
    }
    
    .topico{
        font-family: QuicksandBold;
        font-size: 14px;
    }
    
    .div_topico > * {
        padding: 5px;
    }
    
    .texto_topicos{
        font-size: 12px;
        line-height: 16px;
    }
    
    .esq {
        margin-right: 400px;
    /*     margin-right:10px; */
        /*425px    calc( 80vw - 440px );*/
    }
    
    .cima{
        margin-bottom: 41px;
    }

    .titulo p{
        font-size: 12px;
        line-height: 15px;
    }

    #como_usar{
        height: 530px;
    }

    #tela{
        height: 390px;
    }

    #div_topicos_como_usar{
        height: 250px;
    
        top: 70px;
    
/*         background-color: green; */
/*         display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    /*     vertical-align: middle; */
    }

    #recursos .titulo >* {
        padding-top: 63px;/*63px*/
        padding-bottom: 30px;
    }

    #recursos {
        height: 718px;
    }

    #recursos .div_topico{
        background: #FFFFFF;
        width: 194px;
        height: 165px;
        padding: 8px;
        margin: 4px;/*22.5px*/
        text-align: left;
    }

    .topicos_recursos ul{
        width: 620px;
    }

    #section_numeros{
        height: 320px;
    }

    #section_numeros .titulo{
        width: 700px;
        top: -130px;
        position: relative;
        border-radius: 6px;
        background: #FFFFFF;
        padding-top: 44px;
    }

    #section_numeros .conteudo{
        /*     height: 202px; */
        top: -95px; 
    }

    .card{
        width: 185px;
        height: 105px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .card >*{
        padding: 1px;
    }
    
    .card p{
        font-size: 12px;
    }

    .text_field_cadastrar{
        width: 454px;
        height: 50px;
    }
    
    .input_cadastrar{
        width: 286px;
        height: 47px;
        font-family: Quicksand;
        font-size: 16px;
        padding-left: 20px;
    }

    #avaliacoes .titulo >*{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    #avaliacoes .conteudo >*{
        margin-top: 16px;
        margin-bottom: 25px;
    }
}


@media screen and (max-width: 1000px) {
    /* 320 - 760 - 960 */
    .header #icon {
        display: block;
        z-index: 100;
    }

    #myNav{
/*         display: none; */
        padding-left: 15px;
        position: absolute;
        z-index: 99;
        background: #ECF9FF;
        width: 200px;
        height: calc(100vh - 64px);
        top: 64px;
        right: -200px;
        transition: right 0.3s;
        padding-top: 0px;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu li{
        margin-top: 10px;
    }

    .menu li:not(:nth-last-child(-n+2)) a{
        font-size: 18px;
    }

    #btn-login-cab{
        background-color: #ECF9FF;
        width: 162px;
    }
}


@media screen and (max-width: 780px) {
    /* 320 - 480 - 760 - 960 - 1200 - 1600*/
    #div-imagem-apresentacao{
        display: none;
    }

    #home-div-child {
        padding-left: 3%;
        width: 100%;
    }
    
  /*   #div-imagem-apresentacao{
        width: 0%;
    } */

    .topnav-child a{
        margin-right: 3%;
    }

    #circulado{
        top: 150px;
        left: 80px;
    }
    
    #sublinhado-home{
        top: 139px;
        left: 25px;
    }

    #home-div-child {
        padding-left: 15px;
    }

    #decoracao-home-1{
        top: 36px;
        left: 3%;
    }
    
    #decoracao-home-2{
        top: 346px;
        left: 3%;
    }
    
    #decoracao-home-3{
        top: 26px;
        left: 90%;
    }
    
    #decoracao-home-4{
        top: 318px;
        left: 90%;
    }
    
    #decoracao-home-5{
        top: 196px;
        left: 1%;
    }
    
    #decoracao-home-6{
        top: 136px;
        left: 93%;
    }
    
    #decoracao-home-7{
        display: none;
    }
    
    #decoracao-home-8{
        display: none;
    }
    
    #decoracao-home-9{
        display: none;
    }

    #como_usar{
        height: 650px;
    }

    #tela{
        height: 390px;
    }

    .esq{
        margin-right: 0;
    }

    .quebra_tela_grande{
        display: none;
    }

    .div_topico{
        text-align: center;
    }

    .cima{
        margin-bottom: 0;
    }

/*     .sistema_topicos{
        top: 60%;
    } */

    .nivel{
/*         display: flex; */
        width: 334px;
        float: left;
    }

    #div_topicos_como_usar{
/*         background-color: #01BAFF; */
        width: 850px;
        height: 150px;
        left: 8%;
        top: 380px;/*380*/
        margin-left: 0px;/*-165*/

        transition: margin-left 0.3s;
    
/*         background-color: green; */
        display: inline-block;
/*         flex-direction: column; */
/*         align-items: center;
        justify-content: center; */
    /*     vertical-align: middle; */
    }

    .botao_topico{
        display: flex;
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
    }

    .titulo{
        padding: 0;
    }

    .sistema_topicos{
        display: flex;
    }

    .topicos_recursos ul{
        width: 410px;
    }

    #section_numeros .titulo{
        width: 100%;
        top: 0px;
        position: relative;
        border-radius: 6px;
        background: #FFFFFF;
        padding-top: 44px;
    }

    .quebra_tela_pequena{
        display: flex;
    }

    #section_numeros .conteudo{
        /*     height: 202px; */
        top: 15px; 
    }

    #numeros{
        width: 860px;
        transition: margin-left 0.3s;
        margin-left: 570px;
        /*         background-color: green; */

/*                 display: inline-block; */
/*         overflow: hidden; */
        /*         flex-direction: column; */
        /*         align-items: center;
                justify-content: center; */
            /*     vertical-align: middle; */
    }

    #section_numeros{
        height: 433px;
    }

    .text_field_cadastrar{
        width: 368px;
        height: 39px;
        border-radius: 6px;
        border: 1px solid var(--Principal-Blue, #01BAFF);
        background: var(--Light-Blue, #ECF9FF);
            opacity: 1;
/*         color: rgba(188, 188, 188, 1); */
        color: rgb(255, 0, 0);

        font-family: Quicksand;
    
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 21px;

    }

    .text_field_cadastrar form >*{
        margin-bottom: 12px;
    }

    .text_field_cadastrar #btn-cadastro-cab{
        width: 368px;
        height: 39px;
    }

    .text_field_cadastrar #btn-cadastro-cab img{
        margin-right: 10px;
    }
    
    .text_field_cadastrar form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .div_cadastrar{
        padding-left: 0px;
        width: 370px;
        height: 100px;
        border: 0px;
        background: none;
    /*     background: var(--Light-Blue, #ECF9FF); */
    }
}